body{
	background-color: #FAEEE0;
}

.div-custom{
	background-color:#DBD0C0;
	border-radius: 25px;
}
.navbar-custom{
    background-color: rgb(219, 208, 192);
}

.thead{
    background-color: rgb(249, 228, 200);
}

.btn-custom{
    background-color: #F9E4C8;
    border-color:#F9CF93;
    color: #6B728E;
   
  }
  
  .btn-custom:hover{
      background-color:#F9CF93;
      border-color:#F9CF93 ;
      color:#6B728E;
  }
  
  .btn-custom:active{
      background-color: rgb(247, 187, 98) !important;
      border-color:#F9CF93 !important ;
      color:#6B728E !important;
  }

